.icon {
	display: flex;
	justify-content: center;

	.paper {
    animation: breathe 5s infinite;

    img {
      height: 300px;
      transition: .25s;
      &:hover {
        transform: scale(1.2);
      }
    }
	}
}

@keyframes breathe {
	0% {
		transform: translate(0, -5px);
	}
	50% {
		transform: translate(0, 5px);
	}
	100% {
		transform: translate(0, -5px);
	}
}

@media screen and (max-width: 800px) {
	.icon {
		display: none;
	}
}
