.search-container {
  margin: 0 auto;
  max-width: 600px;

  label {
    display: block;
    padding-left: 10px;
    padding-bottom: 5px;
    font-weight: 300;
    font-size: 1.1em;
  }

  #search-box {
    border: none;
    background: #0006;
    color: white;
    padding: 15px 25px;
    font-size: 1.1em;
    border-radius: 10px;
    font-weight: 300;
    width: 100%;
  }
}