@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: #1d2c3e;
  --text-color: hsl(0, 0%, 90%);
  --highlight: #6947cc;
}

.blog-page {
  min-height: 100vh;
  background: linear-gradient(to top right, #19222c, #1d2c3e);
  color: var(--text-color);
  font-family: Roboto;
  overflow: hidden;
}

article {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 20px;

  > * {
    max-width: 800px;
  }

  .title {
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: left;
    width: 100%;

    h1 {
      font-weight: 500;
      font-size: 2.5em;
    }

    .meta {
      margin-left: 10px;
      font-weight: 300;
      margin-bottom: 10px;

      .break {
        margin: 0 10px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  article {
    img {
      width: 90vw;
    }
    article .title h1 {
      font-size: 8vw;
    }
  }
}

article main {
  font-size: 1.2em;
  line-height: 1.75;

  h1, h2, h3 {
    margin-top: 60px;
    margin-bottom: 20px;
  }

  p {
    margin: 40px 0;
    line-height: 2em;
  }

  blockquote {
    border-left: 4px solid grey;
    padding: 5px 15px;
    margin: 30px 10px;
    font-family: "Merriweather", "Georgia", serif;
    p {
      margin: 20px 0;
      &:first-child { margin-top: 5px; }
      &:last-child { margin-bottom: 5px; }
    }
  }
  
  a {
    color: var(--text-color);
    text-decoration: none;
  }
  .image-label {
    font-family: "Merriweather", "Georgia", serif;
    font-size: 0.8em;
    display: block;
    margin-top: -5px;
  }

  img {
    max-width: 85%;
  }
}

hr {
  margin: 40px 0;
  width: 100%;
  opacity: 0.05;
}

footer {
  padding-bottom: 40px;
  line-height: 1.5;
}
